/* variable declared as root for the colors as well as font stack and sizes. */

:root {
  --darkBlue: #293241;
  --orange: #ee6b4d;
  --paleAqua: #dffbfc;
  --pastelBlue: #9bc0d9;
  --steelBlue: #3d5b81;
  --green: #005e54;
  --yellow: #c2bb00;
  --navy: #003547;
  --skyblue: #008cdb;
  --font-size: 1.3rem;
  --primary-font: "Rufino", monospace;
  --secondary-font: "Oxygen", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--navy);
  color: var(--paleAqua);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--yellow);
}

a:hover {
  color: var(--orange);
  text-decoration: none;
}

img {
  width: 100%;
}

/* background color divs*/
.section-contact {
  background-color: var(--steelBlue);
}

.section-projects {
  background-color: var(--pastelBlue);
}

.gradient-intro {
  background: linear-gradient(
    90deg,
    rgba(153, 68, 209, 1) 0%,
    rgba(191, 29, 29, 1) 50%,
    rgba(210, 146, 56, 1) 100%
  );
  height: 3px;
}

.gradient-footer {
  background: linear-gradient(
    90deg,
    rgba(9, 121, 105, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 2px;
}

.gradient-contact {
  background: linear-gradient(
    90deg,
    rgba(114, 9, 121, 1) 0%,
    rgba(255, 81, 0, 1) 100%
  );
  height: 2px;
}

/* intro styles */

#intro {
  padding: 4rem 1rem 10rem 1 rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--secondary-font);
}

.name span {
  font-family: var(--primary-font);
  font-size: 4rem;
  color: var(--green);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

/* navbar styles */
nav {
  font-family: var(--primary-font);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--secondary-font);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 200%;
  color: var(--skyblue);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--skyblue);
}

nav a {
  color: var(--paleAqua);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--orange);
}

.button {
  background-color: var(--orange);
  color: var(--paleAqua);
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  font-family: var(--secondary-font);
  text-decoration: none;
}

.button:hover {
  color: var(--paleAqua);
  background-color: var(--yellow);
}

footer {
  text-align: center;
  padding: 4rem 0;
  background-color: var(--navy);
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

/* project styles */

#projects {
  padding: 4rem;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--orange);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--secondary-font);
  margin: 0;
}

.bluebox {
  background-color: var(--darkBlue);
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--darkBlue);
  border-top: 1px solid var(--darkBlue);
  border-radius: 25px;
  padding: 1rem;
}

#projects .reverse img {
  margin: 2rem 0 4rem 0;
  border-left: none;
  border-right: 1px solid var(--darkBlue);
  border-top: 1px solid var(--darkBlue);
  border-radius: 25px;
  padding: 1rem;
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  #projects {
    max-width: 1300px;
    margin: 0 auto;
  }
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
